body {
    background-color: rgba(213, 211, 211, 0.515);
}

h1 {
    color: rgba(9, 110, 9, 0.795);
    text-align: center;
    font-family: cursive;
    font-size: 300%;
}

h2 {
    font-family: cursive;
    font-size: 150%;
    text-align: right;
    color: rgba(9, 138, 9, 0.867);
    margin: 1px;
    padding: 5px;
}

h3 {
    font-family: cursive;
    font-size: 150%;
    text-align: right;
    color: rgba(9, 138, 9, 0.867);
    padding: 5px;
}