/* css code */
body {
    margin: 0;
}

.h1 {
    font-size: 50px;
    color: rgba(33, 109, 33, 0.774);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
    text-align: left;
    display: inline;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 100px;
    background-color: rgb(17, 86, 1);
    border-radius: 5px;
    padding: 3px;
}

.search {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(47, 47, 47, 0.515);
    background-color: rgba(174, 174, 174, 0.585);
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    display: inline-block;
    padding: 3px;
}

.logo {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    display: inline-block;
}

.branch {
    font-size: 25px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 86, 1);
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 3px;
}

.photo-1 {
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 80px;
}

.photo-2 {
    border-radius: 5px;
    margin-left: 14px;
}

.photo-3 {
    border-radius: 5px;
    position: absolute;
    top: 150px;
    right: 240px;
}

.a1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(16, 145, 16);
}

.a2 {
    width: 200px;
    height: 150px;
}

.a3 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a22 {
    width: 200px;
    height: 150px;
}

div {
    background-color: rgb(36, 145, 12);
    margin-top: 450px;
    height: 600px;
    border-radius: 5px;
}

.div {
    text-align: center;
    font-size: 70px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
}

.logodiv {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-left: 570px;
    margin-top: 20px;
}