.h1 {
    font-size: 300%;
    color: rgba(33, 109, 33, 0.774);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
    text-align: left;
    display: inline;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(88, 88, 88, 0.854);
    margin: 100px;
}

.search {
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(47, 47, 47, 0.515);
    background-color: rgba(174, 174, 174, 0.585);
    margin: 10px;
    border-radius: 5%;
    width: 300px;
    text-align: center;
}

.logo {
    border-radius: 10%;
    width: 90px;
    height: 90px;
}

.branch {
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 86, 1);
    margin: 10px;
    border-radius: 5%;
    width: 100px;
    text-align: center;
}

.photo-1 {
    border-radius: 2.5%;
}

.photo-2 {
    border-radius: 3.5%;
}

.photo-3 {
    border-radius: 3.5%;
}

.a1 {
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(16, 145, 16);
}

.a2 {
    width: 200px;
    height: 150px;
}

.a3 {
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a22 {
    width: 200px;
    height: 150px;
}