/* footer code */
div {
    background-color: rgb(36, 145, 12);
    margin-top: 450px;
    height: 600px;
    border-radius: 5px;
}

.info1 {
    text-align: center;
    font-size: 70px;
    color: white;
    margin-top: 2px;
}
.info1:hover{
    font-size: 75px;
    color: whitesmoke;
}
.info2 {
    text-align: center;
    font-size: 70px;
    color: white;
    margin-top: 2px;
}
.info2:hover{
    font-size: 75px;
    color: whitesmoke;
}
.logodiv {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-left: 602px;
    margin-top: 20px;
}
.logodiv:hover{
    width: 310px;
    height: 310px;
}