/* menu code */
.h1 {
    font-size: 50px;
    color: rgba(33, 109, 33, 0.774);
}

.login {
    text-align: left;
    display: inline;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 100px;
    background-color: rgb(17, 86, 1);
    border-radius: 5px;
    padding: 3px;
}

.login:hover {
    background-color: rgba(22, 110, 3, 0.895);
    padding: 5px;
    border-radius: 5.5;
}

.search {
    font-size: 30px;
    color: rgba(47, 47, 47, 0.515);
    background-color: rgba(148, 147, 147, 0.695);
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    display: inline-block;
    padding: 3px;
}

.search:focus {
    background-color: rgba(108, 108, 108, 0.718);
    font-size: 31px;
    padding: 4px;
}
.search:hover{
    padding: 5px;
    background-color: rgba(119, 119, 119, 0.718);
}
.logo {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    display: inline-block;
}

.branch {
    font-size: 25px;
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 86, 1);
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 3px;
}

.branch:hover {
    background-color: rgba(22, 110, 3, 0.895);
    padding: 5px;
    border-radius: 5.5;
}

.menu {
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: rgba(244, 241, 241, 0.999);
    height: 200px;
    border-radius: 5px;
    border: 1px groove rgba(234, 234, 234, 0.943);
}

.nav {
    position: sticky;
    top: 165px;
    left: 500px;
}

.nav1 {
    background-color: rgba(236, 236, 236, 0.107);
    color: rgb(0, 0, 0);
    border: 1px;
    border-style: inset;
    border-color: white;
    padding: 10px;
    display: inline;
    border-radius: 5px;
}

.nav1:hover {
    border: 2px;
    background-color: rgba(255, 255, 255, 0.094);
    padding: 15px;
}