/* body code */
body {
    margin: 0;
    border: 0.5px solid rgba(232, 232, 232, 0.866);
}
@font-face {
    font-family: irfont;
    src: url(../fonts/irfont.woff);
}
.photo-1 {
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 150px;
}
.photo-1:hover{
    border-radius: 10px;
}
.photo-2 {
    border-radius: 5px;
    margin-left: 16px;
}
.photo-2:hover{
    border-radius: 10px;
}
.photo-3 {
    border-radius: 5px;
    position: absolute;
    top: 250px;
    right: 168px;
}
.photo-3:hover{
    border-radius: 10px;
}
.a1 {
    text-align: center;
    font-size: 40px;
    color: rgb(16, 145, 16);
}

.a2 {
    width: 200px;
    height: 150px;
}

.a3 {
    font-size: 40px;
}

.a22 {
    width: 200px;
    height: 150px;
}